a{
    transition: color 0.3s, text-decoration 0.3s;
}

a:link{
    color: blue;
    text-decoration: none;
}
a:visited{
    color: green;
    text-decoration: underline;
}
a:hover{
    color: orangered;
    text-decoration: none;
}

h1{
    color: crimson;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(220, 20, 60, 0.5);
}